<div class="container" >
  <div class="row" *ngIf="dataAppointment" >
    <div class="col-sm align-self-center">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Дата записи</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Выберите доступную дату записи</h5>
          <p class="card-text">
            <app-calendar (changeDate)="setChangeDate($event)" *ngIf="closedDays" [closedDays] = "closedDays" [dateInclude]="dateInclude" ></app-calendar>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm align-self-center">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Время записи</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Выберите доступное время записи</h5>
          <p class="card-text">
            <app-time [excludeTimes]="excludeTimes" (changeTime)="setChangeTime($event)" [resetTime]="resetTime" [changeDate]="changeDate"></app-time>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm align-self-center">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Форма записи</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Заполните поля</h5>
          <p class="card-text">
            <app-form-record [changeDate]="changeDate" [changeTime]="changeTime" [dataAppointment]="dataAppointment"></app-form-record>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
